{
	"arrowParens": "always",
	"singleQuote": false,
	"trailingComma": "all",
	"semi": true,
	"quoteProps": "as-needed",
	"jsxSingleQuote": false,
	"jsxBracketSameLine": true,
	"bracketSpacing": true
}
